@font-face
{
	font-family: commandLine;
	src: local("windows_command_prompt"), url("windows_command_prompt.ttf");
}

@font-face
{
	font-family: ms_dos;
	src: local("Ac437_IBM_VGA_8x16"), url("Ac437_IBM_VGA_8x16.ttf");
}

.navbar
{
	background: rgba(0,0,0,0);
	/*background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));*/
	top: 0;
	display: inline-flex;
	cursor: default;
	position: fixed;
	z-index: 2;
}

.dropbtn
{
  background-image: linear-gradient(rgba(0,100,0,1), rgba(0,0,0,0));
  background-color: transparent;
  color: lime;
  padding: 16px;
  font-family: ms_dos;
  /*font-size: 16px; */
  border: none;
}

.homepgbtn
{
	color: lime;
	/*background-color: DarkGreen;*/
	background-image: linear-gradient(rgba(0,100,0,1), rgba(0,0,0,0));
	text-align: center;
	padding: 16px 16px;
	font-family: ms_dos;
	text-decoration: none;
	border: none;
}

.homepgbtn:visited
{
	color:lime;
}

.homepgbtn:hover
{
	background-color: #3e8e41;
}

.dropdown
{
	position: relative;
	  background-image: linear-gradient(rgba(0,100,0,1), rgba(0,0,0,0));
	display: inline-block;
}

.dropdown-content
{
	display: none;
	position: absolute;
	background-color: DarkGreen;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
}

.dropdown-content a
{
	color: lime;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #3e8e41;
	text-decoration : none;
	}

	.dropdown-content a:visited
	{
		color:lime;
	}

.dropdown:hover .dropdown-content {display:block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*
 * Blog Main
 */
.card_container
{
	display: flex;
	flex-direction: column;
}

.card_desc
{
	margin: 20px;
	position: absolute;
	top: 15%;
	left:25%;
}

.card
{
	position: relative;
	height: 400px;
}

.card > a > img
{
	object-fit:contain;
	width: 25%;
	height: 50%;
}

.card > a > h3
{
	text-align: left;
}

header > h1
{
	text-align: center;
}

/* Pagination thing itself  */

.pagination > a
{
	text-decoration: none;
	visited: none;
}

.pagination_numbers

{
	display:inline-block;
}

.pagination_numbers > a
{
	color: green;
	text-decoration: none;
}

a.active
{
	color: lime;
	font-weight: bold;
}

.pagination > a:visited
{
	color: lime;
}

/* The pagination jump to box */
.pagination_jump
{
/* 	background-color: grey; */
	height: 50px;
	width: 90px;
	overflow: clip;
	border: solid 2px;
	border-color: lime;
	display: flex;
	flex-flow: row wrap;
}

.pagination_jump > p
{
	padding: 5px;
}

.pagination_jump > input
{
	align-self: center;
	max-height: 24px;
}

/*
 *Blog page
 */
.blog_page_back_btn
{
	background-image: linear-gradient(rgba(0,100,0,1), rgba(0,0,0,0));
	padding: 20px;
}



body
{
	background-color: black;
	color: lime;
	font-family: ms_dos;
}

main
{
	margin-left: 15%;
	margin-right: 15%;
}

main h3
{
	text-align: center;
}

main img
{
	width: 100%;
}

.intro_block img
{
	width:100%;
}

.intro_block p
{
	text-align: center;
}
